<h1>Reservaciones</h1>

<h2>Tus reservaciones</h2>
<mat-card class="reservation-card text-center border m-3">
  <mat-card-header class="d-flex justify-content-center">
    <mat-card-title>hotelNombre</mat-card-title>
    <mat-card-subtitle>precioHotel</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image
    src="https://assets.architecturaldigest.in/photos/621f43c6fa7af6911e95b64a/16:9/w_1615,h_908,c_limit/7%20budget-friendly%20kids%E2%80%99%20room%20design%20ideas.jpg"
    alt="imagen-cuarto">
  <mat-card-content>
    <p>
      descripcionHotel
    </p>
  </mat-card-content>
  <mat-card-content>
    <p>
      checkInDate: checkInDate
    </p>
    <p>
      checkOutDate: checkOutDate
    </p>
  </mat-card-content>
</mat-card>
